*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  font-family: "K2D", sans-serif;
  letter-spacing: 1px;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

/******************************** INDEX ********/

/* NAV */

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 15vh;
  width: 100%;
  z-index: 150;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo img {
  width: 25%;
  height: 25%;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: center;
  justify-content: space-around;
  width: 35%;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.nav-a {
  color: rgb(219, 219, 219);
  font-size: 2.2rem;
}

.nav-a:after {
  display: block;
  top: 0;
  left: 0;
  content: "";
  margin-top: 5px;
  width: 0;
  border-bottom: 2px solid white;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.flag {
  width: 25px;
  margin-top: 5px;
  margin-left: 15px;
}

.li-flag {
  display: inline-block;
}

.flag-menu {
  cursor: none;
  margin-left: 0 !important;
  margin-top: 0.4rem;
}

.nav-li:hover .nav-a:after {
  width: 100%;
}

.burger {
  display: none;
  z-index: 1000;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.line1,
.line3 {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0.01, 1, 1.01);
  -o-transition: all 0.3s cubic-bezier(0.86, 0.01, 1, 1.01);
  transition: all 0.3s cubic-bezier(0.86, 0.01, 1, 1.01);
}

.line2 {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.3s cubic-bezier(0.86, 0.01, 1, 1.01);
  -o-transition: all 0.3s cubic-bezier(0.86, 0.01, 1, 1.01);
  transition: all 0.3s cubic-bezier(0.86, 0.01, 1, 1.01);
}

/*RESPONSIVE NAV */

@media screen and (max-width: 1500px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 1100px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 100vh;
    top: 0vh;
    background-color: rgb(35, 35, 35);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: 0.4s all cubic-bezier(0.78, 0.01, 1, 0.31);
    -o-transition: 0.4s all cubic-bezier(0.78, 0.01, 1, 0.31);
    transition: 0.4s all cubic-bezier(0.78, 0.01, 1, 0.31);
  }

  .flag {
    margin-top: 0;
  }

  nav {
    position: fixed;
  }

  .links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .nav-a {
    color: rgb(219, 219, 219);
    font-size: 3rem;
  }

  .nav-links {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav-links li {
    opacity: 0;
    padding: 3rem;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  nav {
    position: fixed;
  }

  .logo-scroll {
    opacity: 0;
    -webkit-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    transition: 0.5s all ease;
  }
}

.nav-scroll {
  padding: 1.5rem;
  background-color: rgb(35, 35, 35);
  -webkit-clip-path: circle(44% at 50% 50%);
  clip-path: circle(44% at 50% 50%);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  /* position: absolute;
  right: 10px; */
}

.nav-active {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  transform: rotate(45deg) translate(-5px, -6px);
}

/*HEADER */

header {
  height: 100vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/2.jpg");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/2.jpg");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/2.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/2.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/2.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/2.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/2.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/2.jpg");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/2.jpg");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.header-h1 {
  letter-spacing: 1px;
  text-shadow: 6px 6px 2px rgb(22, 22, 22);
  font-size: 9rem;
  color: rgb(179, 179, 179);
  font-family: "Merienda One", cursive;
}

.header-p {
  font-size: 3rem;
  color: rgb(179, 179, 179);
}

.header-btn {
  display: inline-block;
  color: rgb(32, 32, 32);
  font-weight: 700;
  font-size: 3rem;
  letter-spacing: 2px;
  margin-top: 4rem;
  padding: 1rem 4rem;
  background-color: rgb(179, 179, 179);
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.arrow-btn {
  color: rgb(231, 231, 231);
  background-color: rgb(77, 77, 77);
  padding: 1rem 2rem;
  margin-left: -4px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.arrow {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.header-btn:hover {
  background-color: rgb(24, 24, 24);
  color: rgb(179, 179, 179);
}

/* BOXES */

#boxes {
  background-color: rgb(235, 235, 222);
}

.flex-container {
  width: 87%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 45vh;
  margin: 0 auto;
  width: 100%;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.75);
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 100%;
}

.boxes-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("https://source.unsplash.com/qE1jxYXiwOA");
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.image-1 {
  background-image: url("../img/avion.png");
  background-size: cover;
  background-position: center;
}

.image-2 {
  background-image: url("../img/basta.png");
  background-size: cover;
  background-position: center;
}

.image-3 {
  background-image: url("../img/motor.png");
  background-size: cover;
  background-position: center;
}

.boxes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 55%;
  background-color: #fff;
}

.boxes-h2 {
  font-size: 3rem;
}

.boxes-p {
  font-size: 1.6rem;
  margin-top: 2rem;
  padding: 0 2rem;
}

.boxes-btn {
  width: 30%;
  display: inline-block;
  margin: 2rem auto;
  font-size: 1.8rem;
  letter-spacing: 1px;
  padding: 1rem;
  border: 1px solid rgb(114, 114, 114);
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.boxes-btn:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* INFO */

.info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.info-mapa {
  width: 100%;
}

.mapa {
  width: 100%;
  height: 70vh;
}

.info-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.inline {
  display: inline-block;
  font-size: 1.7rem;
}

.info-h2 {
  font-size: 5.1rem;
  font-family: "Merienda One", cursive;
}

.reviews {
  text-decoration: underline;
}

.grey-p {
  color: rgb(94, 94, 94);
  font-size: 1.8rem;
}

.info-p {
  font-size: 1.8rem;
  margin-top: 1rem;
}

span {
  margin-right: 1.5rem;
}

.btn-reserve {
  display: inline-block;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  margin-top: 3rem;
  background-color: rgb(32, 32, 32);
  color: #fff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  font-weight: 700;
}

.btn-reserve:hover {
  background-color: rgb(192, 192, 192);
  color: rgb(32, 32, 32);
}

.info-content i {
  font-size: 1.4rem;
  margin: 0 2px;
}

.crta {
  margin: 0 1.3rem;
}

.logos i {
  font-size: 3rem;
  display: inline-block;
  padding: 2rem;
}

/* DISCOVER */

#discover {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.discover-content {
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
}

.discover-item {
  padding: 0 4rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.discover-food {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/5.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/5.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/5.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/5.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/5.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/5.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/5.png");
  background-size: cover;
  background-position: center;
}

.discover-drinks {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/6.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/6.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/6.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/6.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/6.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/6.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.7),
      rgba(12, 12, 12, 0.7)
    ),
    url("../img/6.png");
  background-size: cover;
  background-position: center;
}

.discover-h2 {
  font-size: 5.8rem;
  text-shadow: 6px 6px 2px rgb(22, 22, 22);
  color: white;
  margin-bottom: 4rem;
  font-family: "Merienda One", cursive;
}

.discover-p {
  font-size: 2.4rem;
  color: white;
  margin-bottom: 7.5rem;
}

.discover-btn {
  border: 2px solid white;
  letter-spacing: 1px;
  color: white;
  font-size: 2.5rem;
  padding: 1.5rem 2.5rem;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.discover-btn:hover {
  color: rgb(196, 196, 196);
  border: 2px solid rgb(196, 196, 196);
}

/* GALLERY */

/* RESPONSIVE */

@media screen and (max-width: 500px) {
  .header-h1 {
    font-size: 7rem;
  }
  .header-p {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .burger {
    margin-right: 1.5rem;
  }
  .boxes-p {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .boxes-btn {
    margin: 1rem auto;
    width: 50%;
  }
}

@media screen and (max-width: 400px) {
  .header-h1 {
    font-size: 5.5rem !important;
  }
  .header-content {
    top: 50%;
  }
}

/*BOXES */

@media screen and (max-width: 900px) {
  .flex-container {
    width: 100%;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 4rem;
  }
  .boxes .flex-container:nth-child(2) .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .boxes-content {
    padding: 2rem 0;
    width: 90%;
    height: 65%;
    background-color: red;
  }
  .info-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .info-content {
    height: 55vh;
    text-align: center;
  }
  .logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

/*INFO */
@media screen and (max-width: 500px) {
  .info-content {
    height: 70vh;
  }
  .info-p {
    margin-left: -2rem;
  }
}

/* DISCOVER */
@media screen and (max-width: 950px) {
  #discover {
    height: 140vh;
  }
  .discover-item {
    height: 50%;
  }
  .discover-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .discover-h2 {
    font-size: 4.8rem;
  }
  .discover-p {
    font-size: 2rem;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 400px) {
  #discover {
    height: 160vh;
  }
}

@media screen and (max-width: 315px) {
  .discover-btn {
    font-size: 2rem;
  }
}

@media screen and (max-width: 270px) {
  .discover-btn {
    font-size: 1.5rem;
  }
  .discover-h2 {
    margin-bottom: 2rem;
  }
  .discover-p {
    margin-bottom: 3rem;
  }
}

/* HEIGHT */
/* @media screen and (max-height: 600px) {
  .boxes-content {
    padding: 2rem 0;
  }
  .boxes-content {
    height: 65%;
  }
} */

@media screen and (max-height: 650px) {
  .discover-h2 {
    font-size: 3.7rem;
    margin-bottom: 1.5rem;
  }
  .discover-p {
    font-size: 1.7rem;
    margin-bottom: 3rem;
  }
  .discover-btn {
    font-size: 2rem;
    padding: 1rem 2rem;
  }
  .boxes-h2 {
    font-size: 2.5rem;
  }
  .boxes-p {
    font-size: 1.4rem;
  }
  .boxes-btn {
    font-size: 1.6rem;
    padding: 0.8rem;
  }
  .header-h1 {
    font-size: 6rem;
  }
  .header-p {
    font-size: 2.2rem;
  }
  .logo img {
    width: 22%;
  }
  .header-btn {
    font-size: 2.1rem;
  }
  .info-content {
    padding: 4rem 0;
  }
}

/*********** ABOUT *********************************/
.body-about {
  background-color: rgb(202, 202, 202);
}
.about-image {
  position: relative;
  background-attachment: fixed;
  height: 45vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/4.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/4.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/4.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/4.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/4.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/4.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/4.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/4.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/4.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.abs-container {
  width: 75%;
  margin: -50px auto -50px auto;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.75);
  background-color: #fff;
  padding: 7rem;
  text-align: center;
  margin-bottom: 6.5rem;
}

.abs-h2 {
  font-size: 5rem;
  margin-bottom: 5rem;
  font-family: "Merienda One", cursive;
}

.abs-p {
  font-size: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 5rem;
}

.abs-img {
  background-image: url("../img/4.png");
  height: 50vh;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
}

.about-content {
  width: 80%;
  background-color: #fff;
  margin-left: -5rem;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 44px 0px rgba(0, 0, 0, 0.75);
}

.about-img-half {
  background-attachment: fixed;
  height: 45vh;
  background-image: url("https://source.unsplash.com/qE1jxYXiwOA");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  width: 100%;
  height: 65vh;
  z-index: -1;
  background-attachment: unset;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}

.about-h2 {
  font-size: 3.5rem;
  margin-bottom: 4rem;
  font-family: "Merienda One", cursive;
}

.about-p {
  font-size: 1.7rem;
}

/*********** MENU *********************************/
.menu {
  background-color: rgb(235, 235, 227);
}

.menu-container {
  padding: 4rem 0;
  width: 70%;
  margin: 0 auto;
}

.menu-nav-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3rem;
  padding: 2rem 0rem;
}

.menu-nav-a-on {
  font-weight: 700;
  text-decoration: underline;
  margin-right: 2rem;
}

.menu-nav-a {
  font-size: 2rem;
}

.menu-image {
  position: relative;
  background-attachment: fixed;
  height: 35vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("https://source.unsplash.com/qE1jxYXiwOA");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#main {
  position: relative;
  background-attachment: fixed;
  height: 35vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/steak.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#soupImg {
  position: relative;
  background-attachment: fixed;
  height: 35vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.6)),
      to(rgba(12, 12, 12, 0.6))
    ),
    url("../img/soup.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#saladImg {
  position: relative;
  background-attachment: fixed;
  height: 35vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.75)),
      to(rgba(12, 12, 12, 0.75))
    ),
    url("../img/salad.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

#nacho {
  position: relative;
  background-attachment: fixed;
  height: 35vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/nachos.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#desert {
  position: relative;
  background-attachment: fixed;
  height: 35vh;
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.7)),
      to(rgba(12, 12, 12, 0.7))
    ),
    url("../img/desert.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.menu-image-beer {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/beer.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/beer.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/beer.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/beer.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/beer.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/beer.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/beer.png");
}

.menu-image-coffee {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/coffee\ 2.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/coffee\ 2.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/coffee\ 2.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/coffee\ 2.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/coffee\ 2.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/coffee\ 2.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/coffee\ 2.png");
  background-size: cover;
  background-position: bottom;
}

.menu-image-tea {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/tea\ 1.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/tea\ 1.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/tea\ 1.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/tea\ 1.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/tea\ 1.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/tea\ 1.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/tea\ 1.png");
  background-size: cover;
  background-position: bottom;
}

.menu-image-juice {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/juice.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/juice.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/juice.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/juice.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/juice.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/juice.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/juice.png");
  background-size: cover;
  background-position: bottom;
}

.menu-image-wine {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/wine.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/wine.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/wine.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/wine.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/wine.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/wine.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/wine.png");
  background-size: cover;
  background-position: bottom;
}

.menu-image-cocktail {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/cocktail.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/cocktail.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/cocktail.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/cocktail.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/cocktail.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/cocktail.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/cocktail.png");
}

.menu-image-alcohol {
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/alcohol.png");
  background-image: -webkit-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/alcohol.png");
  background-image: -o-linear-gradient(
      left,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/alcohol.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/alcohol.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/alcohol.png");
  background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(rgba(10, 10, 10, 0.849)),
      to(rgba(12, 12, 12, 0.849))
    ),
    url("../img/alcohol.png");
  background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.849),
      rgba(12, 12, 12, 0.849)
    ),
    url("../img/alcohol.png");
}

.menu-h2 {
  text-align: center;
  font-size: 3.5rem;
}

.podmeni-h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.image-h2 {
  font-family: "Merienda One", cursive;
  text-shadow: 6px 6px 2px rgb(22, 22, 22);
  color: rgb(233, 233, 233);
  font-weight: 700;
  font-size: 5.5rem;
  text-align: center;
  background-color: rgba(224, 224, 224, 0.308);
  width: 50%;
  padding: 1rem 0;
  -webkit-clip-path: polygon(17% 0%, 86% 0, 82% 100%, 12% 100%);
  clip-path: polygon(17% 0%, 86% 0, 82% 100%, 12% 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#between {
  width: 70%;
}

.menu-item {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.item-name {
  font-size: 2.4rem;
  padding-right: 1rem;
}

.gold {
  color: rgb(233, 198, 0);
  text-shadow: 1px 1px 2px #000000;
}

.item-price {
  font-size: 2.4rem;
  font-weight: 700;
}

.menu-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 7rem 0 4rem 0;
}

.col {
  width: 40%;
}

.item-price {
  margin-left: auto;
}

.desc-p {
  font-size: 1.7rem;
}

.menu-nav {
  z-index: 150;
  background-color: rgb(35, 35, 35);
}

/* FOOTER MENU */
footer {
  background-color: rgb(35, 35, 35);
  height: 24rem;
  position: relative;
}

.footer-logos {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

.footer-logos i {
  font-size: 2.5rem;
  color: #fff;
  padding: 2rem;
}

.footer-p {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin-top: 3rem;
}

.footer-a {
  display: inline-block;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.footer-a:hover {
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}

/* GALLERY */

.gallery {
  background-color: rgb(235, 235, 227);
}

.gallery-divider {
  padding: 4rem 0;
}

.gallery-container {
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gallery-heading {
  font-size: 4rem;
  margin-bottom: 5rem;
  text-align: center;
}

.gallery-heading::after {
  margin: 1rem auto 0 auto;
  width: 14%;
  display: block;
  content: "";
  border-bottom: 1px solid black;
}

.food-heading::after {
  margin: 1rem auto 0 auto;
  width: 22%;
  display: block;
  content: "";
  border-bottom: 1px solid black;
}

.gallery-container img {
  padding: 1rem;
}

.gallery-h1 {
  height: 15vh;
}

/* RESPOSNIVE MENU */
@media screen and (max-width: 1400px) {
  .image-h2 {
    width: 70%;
  }
}
#between {
  width: 90%;
}

@media screen and (max-width: 1070px) {
  .image-h2 {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .image-h2 {
    width: 90%;
  }
  #between {
    width: 120%;
  }
  .menu-container {
    width: 90%;
  }
}

@media screen and (max-width: 1350px) {
  .menu-logo {
    opacity: 0;
  }
  .menu-container {
    width: 90%;
  }
  .menu-nav {
    z-index: 150;
    background-color: transparent;
  }
  #between {
    width: 130%;
  }
  nav {
    background-color: transparent !important;
  }
}

@media screen and (max-width: 850px) {
  .image-h2 {
    width: 100%;
    padding: 1rem 5rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px) {
  .menu-burger {
    right: 0px;
    top: 20px;
  }
}

@media screen and (max-width: 400px) {
  .image-h2 {
    width: 80%;
    padding: 1rem 7rem;
    font-size: 4rem;
  }
}

@media screen and (max-width: 900px) {
  .menu-container {
    width: 90%;
  }
  .menu-row {
    display: block;
  }
  .col {
    width: 100%;
  }
  #between {
    width: 80%;
  }
}

/* RESPONSIVE ABOUT */

@media screen and (max-width: 700px) {
  .abs-container {
    padding: 5rem;
  }
}

@media screen and (max-width: 500px) {
  .abs-container {
    padding: 3rem;
    margin: -30px auto -30px auto;
  }
  .abs-h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .abs-p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 350px) {
  .abs-container {
    padding: 2rem;
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .about-p {
    font-size: 1.5rem;
  }
  .about-content {
    padding: 4rem;
  }
}

@media screen and (max-width: 750px) {
  .about-p {
    font-size: 1.3rem;
  }
  .about-h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 650px) {
  .about-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .about-content {
    margin: -5rem 0 0 0;
    width: 65%;
  }
  .about-p {
    font-size: 1.5rem;
  }
}
